<h1 class="btn--add large">Buscar usuarios</h1>


<!-- form -->

<div>
	<form action="" class="form">
		<input type="text" class="medium" placeholder="Buscar usuarios" ng-model="search">
	</form>
</div>


<!-- blank lines -->
<br>
<br>
<br>
<br>
<br>


 <!-- writing value in real-time -->
<strong class="min" style="font-family: arial;color:red;font-size: 12px"> {{search | uppercase}}</strong>
 

<hr>



<!-- shows perfiles -->
<div>
	<p ng-repeat="usuario in persons | filter:search" class="alert--chargin medium">{{usuario}}</p>
</div>