<h1 class="btn--yes large">Editar usuarios</h1>


<!-- form -->

<div>
	<form action="" class="form">
		<input type="text" class="medium" placeholder="Buscar para editar" ng-model="search">
	</form>
</div>


<!-- blank lines -->
<br>
<br>
<br>
<br>
<br>
 <!-- writing value in real-time -->
<strong class="min" style="font-family: arial;color:red;font-size: 12px"> {{search | uppercase}}</strong>
 

<hr>



<!-- shows perfiles -->
<div class="container">
	<label class="label" ng-repeat="editar in edit | filter:search" >
		<input class="inputs"  style="" type="text"value="{{editar}}"> {{"Editar" | lowercase}}
	</label>
</div>



<!-- style specific -->
<style>


	.container{

		display: grid;
		grid-auto-flow: row;
		grid-template-columns: 300px 300px 300px 300px;
		grid-template-rows:60px;

	}
	
	
	.label{

		margin-left: 10px;
		color: blue;
		font-size: 12px;
		font-family: arial;

		}

		.inputs{
			border:0;
			background-color: #eee;
			padding: .6em 0;
			border-radius: 4px;
			text-align: center;
			margin: 0 0 .5em 1em;
			
		}


</style>